DB_USER=postgres
DB_PORT=5432
DB_PASSWORD=your-super-secret-password-kdjfkdfkdfdfkjdf
DB_HOST=postgres
DB_NAME=weather
DB_DRIVER=postgres

REDIS_PORT=6379
REDIS_HOST=redis-weather
REDIS_PASSWORD=you-secret-redis-password

FREE_WEATHER_API_KEY=your-weather-api-key
WEATHER_API_BASE_URL=http://api.weatherapi.com/v1

TOMORROW_WEATHER_API_KEY=your-weather-api-key
TOMORROW_API_BASE_URL=https://api.tomorrow.io/v4

VISUAL_CROSSING_API_KEY=your-weather-api-key
VISUAL_CROSSING_API_BASE_URL=https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/

TEMPLATES_DIR=internal/templates
GIN_MODE=debug
API_PORT=8080
GRPC_PORT=50100
GRPC_HOST=sub

API_GATEWAY_PORT=8082

SMTP_PASS=you-super-secret-password
SMTP_USER=your@gmail.com
SMTP_PORT=587
SMTP_HOST=smtp.gmail.com
EMAIL_FROM=yours@gmail.com

WEATHER_SERVICE_HOST=weather
WEATHER_SERVICE_GRPC_PORT=50101
WEATHER_SERVICE_HTTP_PORT=8084

SUB_SERVICE_PORT=50100
SUB_SERVICE_HOST=sub

NOTIFIER_HOST=notifier
NOTIFIER_PORT=8088

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
